<h2 class="page-header">工具</h2>

<form class="form-search" action="/tools/refreshCache">
  <label>Cache Key</label>

  <select name="type" id="">
    <option value=""></option>
    <option value="AD">AD</option>
  </select>
  <input type="text" class="input-medium search-query" name="cacheKey">
  <button type="submit" class="btn">Refresh Cache</button>
</form>

<div class="row">
<iframe src="http://points.bshare.cn/loadFile" frameborder="0" class="span12" style="height: 600px;"></iframe>
</div>