
<h2 class="page-header">发微积分</h2>

<%= simple_form_for(:points, :url => '/send_points/send_points', :format => :json, :html => {:class => "form-horizontal"}) do |f| %>
  <%= f.input :record_ids, placeholder: "points user record ids" %>

  <%= f.button :submit, value: "发微积分", class: "btn btn-primary" %>
<% end %>