<h1 class="page-header">ADC 2013</h1>

<h2 class="page-header">参会人员(共9人)</h2>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>技术分类</th>
      <th>参会同学</th>
      <th>关注主题</th>
      <th>说明</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>运维</td>
      <td>Mark, Daemon</td>
      <td>系统开发与运维, 大数据技术与应用</td>
      <td>7.13/14号</td>
    </tr>
    <tr>
      <td>前端</td>
      <td>Alice</td>
      <td>前端技术</td>
      <td>7.13/14号</td>
    </tr>
    <tr>
      <td>后端</td>
      <td>Martin, Kun哥, Magic</td>
      <td>业务架构&后端技术, 广告, 大数据技术与应用</td>
      <td>7.13/14号</td>
    </tr>
    <tr>
      <td>测试</td>
      <td>Dan, Doris</td>
      <td>测试</td>
      <td>7.13/14号</td>
    </tr>
    <tr>
      <td>技术支持</td>
      <td>Sanford</td>
      <td>测试, 前端技术</td>
      <td>7.13/14号</td>
    </tr>
  </tbody>
</table>

<h2 class="page-header">基本行程安排</h2>

<table class="table table-condensed">
  <thead>
    <tr>
      <th class="span4">内容</th>
      <th>说明</th>
    </tr>
    <tbody>
      <tr>
        <td>7.12日晚上出发去杭州</td>
        <td>由于会议每天上午9点开始，上海到杭州的高铁需要1个多小时，从杭州火车站到会场有8公里，大概30分钟左右到达，所以如果早上从上海出发去杭州的话，需要7点左右从上海火车站出发；从家出发的话，就得6点左右。非常赶，所以需要周五晚上去杭州。</td>
      </tr>
      
      <tr>
        <td>7.13参会</td>
        <td>共9人，Dan在13号会议结束就直接回上海，其余人继续参加第二天会议。</td>
      </tr>
      
      <tr>
        <td>7.14参会</td>
        <td>14号会议结束, 晚上回上海。</td>
      </tr>
      
    </tbody>
  </thead>
</table>

<h2 class="page-header">预算</h2>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>项目</th>
      <th>单价</th>
      <th>数量</th>
      <th>总计</th>
      <th>说明</th>
    </tr>
    <tbody>
      <tr>
        <td>火车票(高铁二等座)</td>
        <td>77.5￥</td>
        <td>9人*2</td>
        <td>1,395￥</td>
        <td>共9人参会，来回车票</td>
      </tr>
      <tr>
        <td>门票</td>
        <td>200￥</td>
        <td>8人</td>
        <td>1,600￥</td>
        <td>共9人参会，1人是程序媛(Free!)</td>
      </tr>
      <tr>
        <td>住宿(标间)</td>
        <td>200￥左右</td>
        <td>9间</td>
        <td>1,800￥</td>
        <td>第一天5间，第二天4间</td>
      </tr>
      <tr>
        <td>交通餐饮等杂费</td>
        <td>每天100￥</td>
        <td>9+8</td>
        <td>1,700￥</td>
        <td>第一天9人，第二天8人</td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td class="btn btn-danger" style="cursor: default;">总计: 6495￥</td>
      </tr>
    </tbody>
  </thead>
</table>


<iframe src="http://adc.alibabatech.org/carnival/schedule#13th#ued" scrolling="no" style="height: 1000px;width: 1024px;border: 0;"></iframe>
