
bshare: &bshare
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: bshare
  pool: 5
  username: buzzinate_w
  password: 
  host: localhost

bshare_points: &points
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: bshare_points
  pool: 5
  username: buzzinate_w
  password: 
  host: localhost

development:
  <<: *points

bshare_development: 
  <<: *bshare

bshare_test: 
  <<: *bshare

bshare_development:
  <<: *bshare

bshare_points_development: 
  <<: *points

bshare_points_test: 
  <<: *points

bshare_points_development:
  <<: *points
