bshare: &bshare
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: bshare
  pool: 5
  username: buzzinate_w
  password: 
  host: localhost

bshare_points: &points
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: bshare_points
  pool: 5
  username: buzzinate_w
  password: 
  host: localhost

bshare_points_development: &bshare_points_development
  <<: *points
  username: buzzinate_w
  password: 
  host: localhost

bshare_points_test: &bshare_points_test
  <<: *points
  username: buzzinate_w
  password: 
  host: localhost

bshare_points_production: &bshare_points_production
  <<: *points
  username: buzzinate_w
  password: 
  host: localhost

bshare_development: 
  <<: *bshare
  username: buzzinate_w
  password: 
  host: localhost

bshare_test: 
  <<: *bshare
  username: buzzinate_w
  password: 
  host: localhost

bshare_development:
  <<: *bshare
  username: buzzinate_w
  password: 
  host: localhost

development:
  <<: *bshare_points_development

test:
  <<: *bshare_points_test

production:
  <<: *bshare_points_production
