<h2 class="page-header">Roles</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td class="span4"><%= role.NAME %></td>
        <td><%= role.DESCN %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

